{% render 'partials/head.liquid' %}

<h1>test</h1>
<article class="profile-pokemon">
  <h3>Mijn ideale pokemon team</h3>
  <ul>
    {% for p in pokemon %}
      <li>
        <h4>{{ p.name }}</h4>
        <img src="{{p.img}}" alt="">
      </li>
    {% endfor %}
  </ul>
</article>
{% render 'partials/foot.liquid' %}
