{% render 'partials/head.liquid' %}

<main class="pokemon-page">
<h1>Check deze pokemon die worden opgehaald uit de pokemon api</h1>
<article class="profile-pokemon">
  <h3>Vet coole pokemon</h3>
  <ul>
    {% for p in pokemon %}
      <li>
        <h4>{{ p.name }}</h4>
        <img src="{{p.img}}" alt="">
      </li>
    {% endfor %}
  </ul>
</article>
</main>

{% render 'partials/foot.liquid' %}
