* {
  box-sizing: border-box;
  font-family: open sans;
}



body {
  position: fixed;
  overflow-x: hidden;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}


.profile-card {
  width: clamp(20em, 60dvw, 320px);
  border-radius: 1rem;
  background: #a682ff;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, .1);
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 210px;
  transition: 1.5s ease-in-out;

  .profile-heading {
    grid-column: 1 /-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    img {
      width: 10em;
      height: 10em;
      border: 5px solid #fff;
      border-radius: 10em;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, .2);
      justify-content: left;
      display: flex;
      transition: 1.5s ease-in-out;
      transform: translatex(80px);
    }

    h1 {
      grid-column: 2/ -1;
      font-size: 2.5rem;
      color: #102e4a;
      display: flex;
      justify-content: left;
      text-wrap: nowrap;
      transition: 1.5s ease-in-out;
      transform: translatey(130px) translateX(-130px);

    }


  }



  p {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
  }


  .profile-info {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #102e4a;
    margin: 0 auto 10px auto;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: linear 1.5s;

    .profile-bio {
      grid-column: 2/-1;
      padding: 0 1rem;

      h2 {
        margin: 0;
        font-size: 2rem;
        width: fit-content;
      }
    }

    .profile-age {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 0 1rem;
    }

    .profile-pokemon {
      grid-column: 1/-1;
      padding: 0 1rem;

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        list-style: none;
        padding: 0;
        margin: 0;

        li {}
      }
    }



  }
}

/* effects */
.open-card {
  width: clamp(20em, 100%, 40em);
  height: 750px;

  .profile-heading {
    img {
      margin: auto;

      transform: rotateZ(360deg) rotate3d(1, 1, 0, 360deg) translateX(0px);
    }

    h1 {
      transform: translatey(0px) translateX(0px);

    }
  }

  .profile-card-img {}


  .profile-info {
    height: clamp(500px, 100%, 750px);
    max-height: unset;
  }

}